﻿@page "/add-account"
@using Microsoft.AspNetCore.Components
@using FitbitSyncServer.Model
@using FitbitSyncServer.Services.Interfaces
@inject IAccountsService AccountsService
@inject NavigationManager Navigator
@attribute [StreamRendering]

<PageTitle>Fitbit Sync - Add account</PageTitle>

<h1>Add a new account</h1>

<EditForm Model="Model" OnValidSubmit="AddAccountAsync">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div class="mb-3">
        <label class="form-label">Name</label>
        <div class="col-md-4">
            <InputText class="form-control" @bind-Value="Model.Name" />
        </div>
    </div>
    <InputRadioGroup @bind-Value="Model.Gender">
        Gender:
        <br>
        @foreach (var gender in (Gender[])Enum
        .GetValues(typeof(Gender)))
        {
            <InputRadio Value="gender" />
            <text>&nbsp;</text>
            @gender
            <br>
        }
    </InputRadioGroup>
    <div class="mb-3">
        <label class="form-label">Height(in cm)</label>
        <div class="col-md-4">
            <InputNumber class="form-control" @bind-Value="Model.Height" />
        </div>
    </div>
    <div class="mb-3">
        <label class="form-label">Birth date</label>
        <div class="col-md-4">
            <InputDate class="form-control" @bind-Value="Model.BirthDate" />
        </div>
    </div>
    <div class="mb-3">
        <label class="form-label">Fitbit App Client Id</label>
        <div class="col-md-4">
            <InputText class="form-control" @bind-Value="Model.ClientId" />
        </div>
    </div>
    <div class="mb-3">
        <label class="form-label">Fitbit App Client Secret</label>
        <div class="col-md-4">
            <InputText class="form-control" @bind-Value="Model.ClientSecret" />
        </div>
    </div>
    <div>
        <button type="submit" class="btn btn-primary">Authorize with Fitbit</button>
        <button class="btn btn-light" @onclick="Cancel">Cancel</button>
    </div>
</EditForm>

@code{

    [SupplyParameterFromForm]
    public Account Model { get; set; }

    protected override void OnInitialized() => Model ??= new();

    private async Task AddAccountAsync()
    {
        Model.BaseUrl = Navigator.BaseUri;
        var url = await AccountsService.CreateAccountAsync(Model);
        Navigator.NavigateTo(url, true);
    }

    private void Cancel()
    {
        Navigator.NavigateTo(Navigator.BaseUri);
    }
}

