﻿@page "/fitbit/callback"
@using FitbitSyncServer.Services.Interfaces
@using FitbitSyncServer.Utils
@inject IAccountsService AccountsService
@inject NavigationManager Navigator
@attribute [StreamRendering]

<PageTitle>Fitbit Sync - Accounts</PageTitle>

<h1>Handling Fitbit Redirect</h1>

<p><em>Getting tokens...</em></p>

@code {
    protected override async Task OnInitializedAsync()
    {
        Navigator.TryGetQueryString<string>("code", out var code);
        Navigator.TryGetQueryString<string>("state", out var accountName);
        await AccountsService.CallbackAsync(code, accountName);
        Navigator.NavigateTo(Navigator.BaseUri);
    }
}
