﻿@page "/"
@using FitbitSyncServer.Model
@using FitbitSyncServer.Services.Interfaces
@inject IAccountsService AccountsService
@inject NavigationManager Navigator
@attribute [StreamRendering]

<PageTitle>Fitbit Sync - Accounts</PageTitle>

<h1>Connected Accounts</h1>

<p>List of accounts connected to this server. Use the form fields below to add multiple accounts for users in your home.</p>
<p>Please make sure the name is unique or adding a new account won't work.</p>
<p>You also need an app registered with fitbit for each user from their own account. Please refer to the documentation on how to do that.</p>
<p>NOTE: Please make sure you are logged in with the correct account at <a href="https://www.fitbit.com/settings/profile" target="_blank">fitbit.com</a> before trying to add a new account.</p>
<button class="btn btn-primary" @onclick="AddAccount">Add New Account</button>
@if (_accounts == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Client Id</th>
                <th>Has Tokens</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var account in _accounts)
            {
                <tr>
                    <td>@account.Name</td>
                    <td>@account.ClientId</td>
                    <td>@(!string.IsNullOrWhiteSpace(account.AccessToken))</td>
                    <td>
                        <button class="btn btn-danger" @onclick="()=> DeleteAsync(account.Name)">Delete</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<Account> _accounts;

    protected override async Task OnInitializedAsync()
    {
        _accounts = await AccountsService.GetAccountsAsync();
    }

    private void AddAccount()
    {
        Navigator.NavigateTo("/add-account");
    }

    private async Task DeleteAsync(string name)
    {
        await AccountsService.DeleteAccountAsync(name);
        _accounts = await AccountsService.GetAccountsAsync();
    }

}
