﻿@page "/instructions"
@inject NavigationManager Navigator
@attribute [StreamRendering]

<PageTitle>Fitbit Sync - Instructions</PageTitle>

<h1>Instructions on setting up the server and connecting it to Home Assistant</h1>

<p>This server allows you to connect multiple fitbit accounts and assign them a name 
    which in turn can be used by Home Assistant to send data from weight sensors to Fitbit
    .e.g Xiaomi Composition Scale 2.
    Following steps outline what needs to be done to get it working
</p>

<ul>
    <li>To start with this server needs to be accessible via HTTPS. Fitbit won't allow you to authorise without that.
        I suggest using a reverse proxy like Nginx Proxy Manager. </li>
    <li>
        Please create an app on <a href="https://dev.fitbit.com/apps" target="_blank">fitbit dev account</a>. The fields
        that matter are Application Type, Redirect URL and Access Type. 
        <ul>
            <li>Application Type must be Personal</li>
            <li>Redirect url will be wherever you are hosting this server appended to '/fitbit/callback' 
                e.g. https://192.168.1.10:8080/fitbit/callback</li>
            <li>Access Type must be Read & Write.</li>
        </ul>
    </li>
    <li>The above step needs to repeated for every user that wants to send data from Home Assistant and the application
        needs to be created from their fitbit account.
    </li>
    <li>Once that is done, please use the add account feature on this server to add a unique name for that user 
        along with client id and secret of the application created on fitbit. Please not that birth date, age and gender
        are only required if you have a scale that shows impedance on home assistant and you would like to record body fat 
        data on fitbit. 
    </li>
    <li>This server exposes an API that allows you to send data to fitbit. Documentation for the API can be found 
        <a href="/api-docs" target="_blank">here</a>.
    </li>
    <li>
        Setup a <a href="https://www.home-assistant.io/integrations/rest_command" target="_blank">RESTful command</a> integration
        on home assistant for this API by adding it to configuration.yaml.
        Example below
        <pre>
rest_command:
  fitbit_logger:
    url: https://fitbitsync.home/api/scale-measurements?accountName={{accountName}}&weight={{weight}}&impedance={{impedance}}
    method: POST
    verify_ssl: false
        </pre>
    </li>
    <li>Create automation that sends data to this rest command when your sensor detects weight. To differentiate between people
        you can use weight ranges or just completely different sensors if that is not an option. Example below
        <pre>
alias: Send Weight for John
trigger:
  - platform: state
    entity_id:
      - sensor.mi_body_composition_scale_8846_mass
condition:
  - condition: numeric_state
    entity_id: sensor.mi_body_composition_scale_8846_mass
    above: 70
action:
  - service: rest_command.fitbit_logger
    data:
      accountName: John
      weight: "{{states.sensor.mi_body_composition_scale_8846_mass.state|float}}"
      impedance: "{{states.sensor.mi_body_composition_scale_8846_impedance.state|int}}"
mode: single
</pre></li>
</ul>
<button class="btn btn-primary" @onclick="BackToMain">Back</button>

@code {
    private void BackToMain()
    {
        Navigator.NavigateTo(Navigator.BaseUri);
    }
}
